.boardregist{
	margin-left: 30px;
}

.boardregist{
	border-spacing: 0;
}

.boardregist th {

	width:80px;
}

.board th{
	height: 10px;
}

.board td{
	text-align: center;
	width: 250px;
	height: 50px;
}


.writer th{
	
	height: 50px;

}
.writer td{
	text-align: center;
	width: 50px;
	height: 50px;
}

.title1 th{
	width: 50px;
	height: 70px;
}

.detail th{
	height: 300px;
	text-align: center;
}

.file th{

	height: 50px;
}

.file td{
	text-align: left;
}

.boardregist button{
	float: right;
	margin-top: 10px;
}

.title1 input{
	border: none;
}
.detail input{
	border: none;
}

.detail1{
	text-align: left;
}

